/*------기본값 설정-------*/
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/*----------영역-----------*/
div {
    /*브라우저 기준으로 계속 변경*/
    width: 20%;
    text-align: center;
}
div h1 a {
    display: block;
    background-color: #333;
    color: #fff;
    line-height: 50px;
}

/*----------대메뉴-----------*/
div nav {}
div nav .bigMenu {}
div nav .bigMenu > li {
    position: relative;
    border-bottom: solid 1px #fff;
}
div nav .bigMenu >li > a{
    display: block;
    background-color: #000;
    color: #fff;
    line-height: 50px;
}

/*----------대메뉴 마우스 올렸을 때 소메뉴 보이기-----------*/
div nav .bigMenu > li:hover .smallMenu {
    display: block;
}
/*----------대메뉴 마우스 올렸을 때-----------*/
div nav .bigMenu > li:hover > a{
    background-color: grey;
    color: #000;
}
/*----------소메뉴 마우스 올렸을 때-----------*/
div nav .smallMenu > li:hover a{
    background-color: grey;
    color: #000;
}

/*----------소메뉴 숨기기, 위치 선정-----------*/
div nav .smallMenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    transition: 0.6s;
}
div nav .smallMenu li {
    /*경계선*/
    border-bottom: solid 1px #fff;
}
div nav .smallMenu li a{
    display: block;
    background-color: #333;
    color: #fff;
    line-height: 50px;
}